In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
transactions    = pd.read_csv('data/sales_train.csv.gz')
items           = pd.read_csv('data/items.csv')
item_categories = pd.read_csv('data/item_categories.csv')
shops           = pd.read_csv('data/shops.csv')

In [6]:
print(transactions.shape, items.shape, item_categories.shape, shops.shape)
transactions.head()

(2935849, 6) (22170, 3) (84, 2) (60, 2)

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

We have around 3 million rows of sales data for over 20000 items and 60 shops! Let's do some useful transformations on this

#### Task 1: What was the maximum total revenue among all the shops in September, 2014?

In [9]:
transactions['date'] =  pd.to_datetime(transactions['date'], format='%d.%m.%Y')
filter_df = transactions[(transactions['date'].dt.year==2014) & (transactions['date'].dt.month==9)]

filter_df['revenue'] = filter_df['item_price']*filter_df['item_cnt_day']
answer = filter_df.groupby('shop_id')['revenue'].sum().max()

print('Max Revenue among all shops in Sep. 2014 was: ', round(answer))

Max Revenue among all shops in Sep. 2014 was:  7982852.0

#### Task 2: What item category generated the highest revenue in summer 2014?

In [11]:
transactions['date'] =  pd.to_datetime(transactions['date'], format='%d.%m.%Y')
filter_df = transactions[(transactions['date'].dt.year==2014) & ((transactions['date'].dt.month==6) 
                                                                 | (transactions['date'].dt.month==7)
                                                                 | (transactions['date'].dt.month==8))]

filter_df = pd.merge(filter_df, items, on='item_id', how='left')
filter_df['revenue'] = filter_df['item_price']*filter_df['item_cnt_day']
answer = filter_df.groupby('item_category_id')['revenue'].sum().idxmax()

print('Item category with the highest revenue in Summer 2014 was : ', round(answer))

Item category with the highest revenue in Summer 2014 was :  20